@font-face {
    font-family: escher;
    src: url(fonts/escher.ttf);
}

@font-face {
    font-family: macula;
    src: url(fonts/Macula\ Line.otf);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(182, 217, 248);
}

.gameBoard {
    width: 450px;
    height: 450px;
    background-color: rgb(182, 217, 248);
    display: grid;
    gap: 10px;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 5px solid rgb(182, 217, 248);
    border-radius: 8px;
}

.tile {
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: macula;
    font-weight: 500;
    font-size: 5em;
    animation-iteration-count: 1;
    animation-duration: .1s;
    animation-timing-function: ease-out;
    user-select: none;
    /*box-shadow: rgb(255, 255, 255) 0px 5px 50px -20px, rgba(255, 255, 255, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 10px 0px inset;*/
    box-shadow: rgba(0, 0, 0, 0.325) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.buttons {
    position: relative;
    top: 30px;
}

.textContainer {
    height: 40px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: 700;
}

@keyframes addSymbol {
    0%{
        color: rgba(0, 0, 0, 0);
        font-size: 6em;
    }
    25%{
        color: rgba(0, 0, 0, 0.25);
        font-size: 5.75em;
    }
    50%{
        color: rgba(0, 0, 0, 0.5);
        font-size: 5.5em;
    }
    75%{
        color: rgba(0, 0, 0, 0.75);
        font-size: 5.25em;
    }
    100%{
        color: rgb(0, 0, 0);
        font-size: 5em;
    }
}